<header class="header">
    <img class="header__logo" src="../../assets/undraw_Booking_re_gw4j.svg" alt="logo">
    <nav class="header__menu">
        <a href="#" class="header__link">Kalendarz</a>
        <a href="#" class="header__link">Złożone wnioski</a>
        <a href="#" class="header__link">Formularz</a>
        <a href="/days-left" class="header__link">Pozostałe dni urlopowe</a>
        <a href="/account" class="header__link">Konto</a>
        <a href="/panel-pracodawcy" class="header__link">Panel pracodawcy</a>
    </nav>
</header>