.footer {
    position: relative;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: #ffc0cb;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 30px;

    &__disclaimer {
        color: #5e5e5e;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }
}