<div class="employees">
  <div class="employees__inner">
    <h4 class="employees__title">Lista pracowników</h4>
    <ul class="employees__list">
      <li class="employees__item" *ngFor="let employee of employees; let i = index" [class.active]="i == currentIndex" (click)="setActiveEmployee(employee, i)">
        {{ employee.name }}
      </li>
    </ul>

    <button class="employees__button employees__button--delete" (click)="removeAllEmployees()">
      Usuń dane
    </button>
  </div>

  <div class="employees__details">
    <div *ngIf="currnetEmployee">
      <app-tutorial-details (refreshList)="refreshList()" [tutorial]="currnetEmployee"></app-tutorial-details>
    </div>

    <div class="employees__instruction" *ngIf="!currnetEmployee">
      <br />
      <p>Wybierz pracownika</p>
    </div>
  </div>
</div>
