<div class="days-left">
    <div class="days-left__row">
        <label for="name" class="days-left__label">Imię i nazwisko:</label>
        <input name="name" id="name" class="days-left__input" type="text" value="Tomasz Pietrzak" disabled>
    </div>
    <div class="days-left__row">
        <label for="left" class="days-left__label">Pozostałe dni:</label>
        <input name="left" id="left" class="days-left__input" type="text" value="10" disabled>
    </div>
    <div class="days-left__row">
        <label for="used" class="days-left__label">Wykorzystane dni:</label>
        <input name="used" id="used" class="days-left__input" type="text" value="16" disabled>
    </div>
</div>