<form action="" class="account">
    <fieldset class="account__row">
        <label for="name" class="account__label">Imię i nazwisko</label>
        <input class="account__input" type="text" id="name" name="name" value="Tomasz Pietrzak">
    </fieldset>
    <fieldset class="account__row">
        <label for="first" class="account__label">Staż pracy</label>
        <input class="account__input" type="date" id="first" name="first" value="2017-01-01">
    </fieldset>
    <fieldset class="account__row">
        <label for="current" class="account__label">Rozpoczęcie obecnej pracy</label>
        <input class="account__input" type="date" id="current" name="current" value="2018-06-01">
    </fieldset>
</form>
